/* css-reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.65;
}


blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ccs-saya */
body{
     font-family: 'Poppins', sans-serif;
     
}

.navbar{
    border-bottom: 0.3px solid rgb(207, 207, 207);
    display: flex;
    height: 55px;
    align-items: center;  
    justify-content: space-evenly; 
    background-color: #000;
}



.pop-up ul{
    width: 400px;
    display: flex;
    justify-content: space-between;
  
}

.pop-up ul li {
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-weight:590;
}

.navbar a:hover{
    color: rgb(87, 87, 87);
}



.ads ul{
    
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-left: 600px;

}

.ads ul li{
    
    list-style: none;

}

.ads ul li p{
    
   color: #fff;

}

.container {
    
   margin-top: px;
    display: flex; 
    justify-content: space-around;
    padding-top: 25px;
    box-sizing: border-box;
    align-items: center;
    background-image: url(img/4850037.jpg);
    
    
}

.content{
    width: 90%;
    display: flex;   
    justify-content: space-around;
    /* background-color: darkgrey; */
}

 .mainside{
    order: 2;
     width: 700px;
     height: 500p;
    
}

.mainside h1{
    font-size: 24px;
    font-weight: bold;
}

.mainside p{
    margin-top: 30px;
    
    
}

.sidesatu{
    order: 1;
    margin-left: 10px;
}

.sidesatu a {
    text-decoration: none;
    color: #000;
}

.sidesatu a:hover {
    color: rgb(87, 87, 87);
}

.sidesatu h3{
    font-size: 18px;
    font-weight: bold;
}

.sidedua{
    order: 3;
}

.sidedua a {
    text-decoration: none;
    color: #000;
}

.sidedua a:hover {
   
    color: rgb(87, 87, 87);
}

.sidedua h3{
    font-size: 18px;
    font-weight: bold
}

.last {
    
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    height: 26px;
}

.community {
    margin-top: 50px;
}

#box{    
    margin: 20px 0 ;
    
  }


